<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MDStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <MDStudio.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DGenWindowLocation" serializeAs="String">
                <value>128, 128</value>
            </setting>
            <setting name="RegisterWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BuildLogWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BuildLogWindowSize" serializeAs="String">
                <value>659, 315</value>
            </setting>
            <setting name="CRAMWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CRAMWindowVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VDPStatusWindowVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VDPStatusWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ProfilerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProfilerWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ProfilerWindowSize" serializeAs="String">
                <value>910, 411</value>
            </setting>
        </MDStudio.Properties.Settings>
    </userSettings>
</configuration>
